<nav class="nav1">
    <div class="search">
        <input type="search" name="search-input" id="search-input" placeholder="Search...">
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="logo">
        <img src="Untitled-design-41.jpg" alt="">
    </div>
    <div class="btns">
        <div class="login-btn">Login/Register</div>
        <div class="contect-btn">+91 8796584859</div>
        <div class="cart-btn">
            cart <i class="fa-solid fa-cart-shopping"></i>
        </div>
    </div>
</nav>
<nav class="nav2">
    <details (mouseover)="mouseOver($event)" (mouseleave)="mouseLeave($event)">
        <summary routerLink="home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</summary>
    </details>
    <details (mouseover)="mouseOver($event)" (mouseleave)="mouseLeave($event)">
        <summary>Just Arrived</summary>
    </details>
    <details (mouseover)="mouseOver($event)" (mouseleave)="mouseLeave($event)">
        <summary routerLink="brands">
            Brands <i class="fa-solid fa-greater-than"></i>
        </summary>
        <ul>
            <li routerLink="brands">Dr vidyas</li>
            <li routerLink="brands">lakme</li>
        </ul>
    </details>
    <details (mouseover)="mouseOver($event)" (mouseleave)="mouseLeave($event)">
        <summary>Home & Kitchen<i class="fa-solid fa-greater-than"></i></summary>
        <ul>
            <li routerLink="brands/Bakeware">Bakeware</li>
            <li routerLink="brands/water-bottels">water bottels</li>
            <li routerLink="brands/oven">oven</li>
            <li routerLink="brands/toster">toster</li>
            <li routerLink="brands/Decor">Decor</li>
        </ul>
    </details>
    <details (mouseover)="mouseOver($event)" (mouseleave)="mouseLeave($event)">
        <summary>Cleaning Supplies</summary>
    </details>
    <details (mouseover)="mouseOver($event)" (mouseleave)="mouseLeave($event)">
        <summary>Bags<i class="fa-solid fa-greater-than"></i></summary>
        <ul>
            <li routerLink="brands">linch bag</li>
            <li routerLink="brands">travel</li>
            <li routerLink="brands">shopping bag</li>
        </ul>
    </details>
    <details (mouseover)="mouseOver($event)" (mouseleave)="mouseLeave($event)">
        <summary>Baby & Kids<i class="fa-solid fa-greater-than"></i></summary>
        <ul>
            <li routerLink="brands">baby care</li>
            <li routerLink="brands">kids toys</li>
        </ul>
    </details>
    <details (mouseover)="mouseOver($event)" (mouseleave)="mouseLeave($event)">
        <summary>more<i class="fa-solid fa-greater-than"></i></summary>
        <ul>
            <li routerLink="brands/a">a</li>
            <li routerLink="brands/b">b</li>
            <li routerLink="brands/c">c</li>
            <li routerLink="brands/d">d</li>
            <li routerLink="brands/e">e</li>
            <li routerLink="brands/f">f</li>
        </ul>
    </details>
    <details (mouseover)="mouseOver($event)" (mouseleave)="mouseLeave($event)">
        <summary>offers</summary>
    </details>
    <details (mouseover)="mouseOver($event)" (mouseleave)="mouseLeave($event)">
        <summary>Wholesale Inquiry</summary>
    </details>
    <details (mouseover)="mouseOver($event)" (mouseleave)="mouseLeave($event)">
        <summary>Sell to us</summary>
    </details>






</nav>

