<div class="main">
    <div class="card" routerLink="brands">
        <div class="img">
            <img src="https://picsum.photos/200/250?random=1" alt="">
            <p class="view">Quick view</p>
        </div>
        <div class="details">

            <div class="desc">Lorem ipsum dolor sit.</div>
            <div class="price">
                &#x20b9; 99
            </div>
        </div>
    </div>
    
    <div class="card" routerLink="brands">
        <div class="img">
            <img src="https://picsum.photos/200/250?random=2" alt="">
            <p class="view">Quick view</p>
        </div>
        <div class="details">

            <div class="desc">Lorem ipsum dolor sit.</div>
            <div class="price">
                &#x20b9; 99
            </div>
        </div>
    </div>
    <div class="card" routerLink="brands">
        <div class="img">
            <img src="https://picsum.photos/200/250?random=3" alt="">
            <p class="view">Quick view</p>
        </div>
        <div class="details">

            <div class="desc">Lorem ipsum dolor sit.</div>
            <div class="price">
                &#x20b9; 99
            </div>
        </div>
    </div>
    <div class="card" routerLink="brands">
        <div class="img">
            <img src="https://picsum.photos/200/250?random=4" alt="">
            <p class="view">Quick view</p>
        </div>
        <div class="details">

            <div class="desc">Lorem ipsum dolor sit.</div>
            <div class="price">
                &#x20b9; 99
            </div>
        </div>
    </div>
    <div class="card" routerLink="brands">
        <div class="img">
            <img src="https://picsum.photos/200/250?random=5" alt="">
            <p class="view">Quick view</p>
        </div>
        <div class="details">

            <div class="desc">Lorem ipsum dolor sit.</div>
            <div class="price">
                &#x20b9; 99
            </div>
        </div>
    </div>
    <div class="card" routerLink="brands">
        <div class="img">
            <img src="https://picsum.photos/200/250?random=6" alt="">
            <p class="view">Quick view</p>
        </div>
        <div class="details">

            <div class="desc">Lorem ipsum dolor sit.</div>
            <div class="price">
                &#x20b9; 99
            </div>
        </div>
    </div>
    
</div>